@if (Model._pager.TotalPages > 0)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            @if (Model._pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.controller" asp-action="@Model.action" asp-route-pg="1">Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.controller" asp-action="@Model.action" asp-route-pg="@(Model._pager.CurrentPage - 1)">Anterior</a>
                </li>
            }
            @for (var pge = Model._pager.StartPage; pge <= Model._pager.EndPage; pge++)
            {
                <li class="page-item @(pge == Model._pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="@Model.controller" asp-action="@Model.action" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (Model._pager.CurrentPage < Model._pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.controller" asp-action="@Model.action" asp-route-pg="@(Model._pager.CurrentPage + 1)">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.controller" asp-action="@Model.action" asp-route-pg="@(Model._pager.TotalPages)">Última</a>
                </li>
            }

        </ul>
    </nav>
}