@using MTControl.DAO
@model ProfileVM
<partial name="_AlertPartial" />

<div class="container-fluid">
    <div class="col">
        <div class="row row-cols-auto g-2">
            <div class="col">
                <a class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Agregar Perfil" asp-controller="Profile" asp-action="Nuevo">
                    <i class="bi bi-person-plus-fill">
                        <p class="d-none d-md-block d-lg-inline"> Nuevo</p>
                    </i>
                </a>
            </div>

            <div class="col">
                <a class="btn btn-outline-dark disabled" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Exportar a Excel Perfil" asp-controller="Profile" asp-action="ExpExcel">
                    <i class="bi bi-file-earmark-excel-fill">

                        <p class="d-none d-md-block d-lg-inline"> Exportar a Excel</p>
                    </i>
                </a>

            </div>
            <div class="col">
                <a class="btn btn-outline-dark disabled" id="BtnExpPdf" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Exportar a PDF" asp-controller="Profile" asp-action="ExpPDF">
                    <i class="bi bi-file-earmark-pdf-fill">

                        <p class="d-none d-md-block d-lg-inline">Exportar a PDF</p>
                    </i>
                </a>

            </div>
            <div class="col-8">
                <form asp-action="Encontrar" method="get" id="BuscarForm">
                    <div class="input-group mb-3">
                        <input type="text" name="busqueda" class="form-control" id="InputBuscar" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="bi bi-search "></i></button>
                        <button class="btn btn-outline-danger" type="submit" id="BtnLimpiar" onclick="Limpiar()"><i class="bi bi-x-circle"></i></button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
<div class="table-responsive-md mt-1">
    <table id="ProfileTable" class="table table-bordered table-striped table-hover text-center ">
        <thead>
            <tr>
                <th>Acción</th>
                <th>Código</th>
                <th>Razón social</th>
                <th>CUIT</th>
                <th>Actividad</th>
                <th>Categoria</th>
                <th>IIBB Umos 12 meses</th>
                <th>Compras Umos 12 meses</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            @if (Model is not null)
            {

                @foreach (Profile pro in Model._profiles)
                {
                    <tr>
                        <td class="g-1">
                            <a class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar perfil" asp-controller="Profile" asp-action="Editar" asp-route-Codigo="@pro.Codigo">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Consultar perfil" asp-controller="Profile" asp-action="Consultar" asp-route-Codigo="@pro.Codigo">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar perfil" asp-controller="Profile" asp-action="Eliminar" asp-route-Codigo="@pro.Codigo">
                                <i class="bi bi-trash3-fill"></i>
                            </a>


                        </td>
                        <td>@pro.Codigo</td>
                        <td>@pro.RazonSocial</td>
                        <td>@pro.Cuit.Substring( 0, 2 )-@pro.Cuit.Substring( 2, 8 )-@pro.Cuit.Substring( 10, 1 )</td>
                        <td>@pro.Actividad.Descripcion</td>
                        <td>@pro.Categoria.Letra</td>
                        <td>@pro.Iibb.ToString( "C", new System.Globalization.CultureInfo ( "es-AR" ) )</td>
                        <td>@pro.Compras.ToString( "C", new System.Globalization.CultureInfo ( "es-AR" ) )</td>
                        <td>
                            <div class="col-12 col-lg-6 mt-lg-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="ToggleActivo" checked="@pro.Activo" disabled>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <partial name="_PagerPartial" />

   @*  @if (Model._pager.TotalPages > 0)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                @if (Model._pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Profile" asp-action="Profiles" asp-route-pg="1">Primera</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Profile" asp-action="Profiles" asp-route-pg="@(Model._pager.CurrentPage - 1)">Anterior</a>
                    </li>
                }
                @for (var pge = Model._pager.StartPage; pge <= Model._pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == Model._pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Profile" asp-action="Profiles" asp-route-pg="@pge">@pge</a>
                    </li>
                }
                @if (Model._pager.CurrentPage < Model._pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Profile" asp-action="Profiles" asp-route-pg="@(Model._pager.CurrentPage + 1)">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Profile" asp-action="Profiles" asp-route-pg="@(Model._pager.TotalPages)">Última</a>
                    </li>
                }

            </ul>
        </nav>
    } *@

</div>
