@model ProfileVM
<h1 class="text-center mb-5 text-decoration-underline">Editar Perfil</h1>
<div asp-validation-summary="All">

    <form action="Guardar" method="post" id="EditarPerfilForm">
        <div class="container-fluid">
            <div class="container-fluid">
                <input type="text" class="form-control" id="inputCodigo" name="Codigo" hidden value="Model.Codigo">
                <div class=" col-12 col-lg-6 ">
                    <label for="inputRazonSocial" class="form-label">Razón Social</label>
                    <input type="text" class="form-control" id="inputRazonSocial" name="RazonSocial" value="@Model._profile.RazonSocial">
                </div>
                <div class="col-12 col-lg-6 mt-lg-3">
                    <label for="inputCUIT" class="form-label">CUIT</label>
                    <input type="number" class="form-control" id="inputCUIT" name="Cuit" value="@Model._profile.Cuit">
                </div>
                <div class="col-12 col-lg-6 mt-lg-3">
                    <label for="inputFiActividades" class="form-label">Fecha inicio de actividades</label>
                    <input type="date" class="form-control" id="inputFiActividades" name="FechaInicioActividades" value="@Model._profile.FechaInicioActividades.ToString("yyyy-MM-dd")">
                </div>

                <div class="col-12 col-lg-6 mt-lg-3">
                    <label for="inputCategoria" class="form-label">Categoria</label>
                    <select id="inputCategoria" class="form-select" name="Categoria" asp-items="@Model._categories.ToList()">
                        @* @for (int i = 1; i <= 11; i++)
                        {
                            var letra = ((char)('A' + i - 1)).ToString ();
                            <option value="@i" selected="@(Model._profile.CategoriaId == i ? "selected" : null)">
                                @letra
                            </option>
                        } *@
                    </select>
                </div>
                <div class="col-12 col-lg-6 mt-lg-3">
                    <label for="inputActividad" class="form-label">Actividad Principal</label>
                    <select id="inputActividad" class="form-select" name="Actividad" asp-items="@Model._activities.ToList()">
                      

                    </select>
                </div>
                <input type="number" class="form-control" id="inputIIBB" name="Iibb"
                       value="@Model._profile.Iibb.ToString("0.##", CultureInfo.InvariantCulture)" />
                <div class="col-12 col-lg-6 mt-lg-3">
                    <label for="inputCompras" class="form-label">Compras totales últimos 12 meses</label>
                    <input type="number" class="form-control" id="inputCompras" name="Compras" value="@Model._profile.Compras.ToString("0.##", CultureInfo.InvariantCulture)">
                </div>
                <div class="col-12 col-lg-6 mt-lg-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="ToggleActivo" checked name="Activo" />
                        <label class="form-check-label" for="ToggleActivo">Activo</label>
                    </div>
                </div>
                <div class="row row-cols-auto g-4 mt-3 ">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-success" id="BtnGuardar" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Guardar Perfil">
                            <i class="bi bi-floppy2-fill"></i>
                            <p class="d-none d-md-block d-lg-inline"> Guardar</p>
                        </button>
                        <button type="button" class="btn btn-outline-dark" id="BtnCancelar" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Cancelar" onclick="history.back()">
                            <i class="bi bi-box-arrow-left"></i>
                            <p class="d-none d-md-block d-lg-inline"> Cancelar</p>
                        </button>
                    </div>
                </div>
            </div>
    </form>
</div>