 @model List<Result>
@if (Model is null)
{
    <partial name="_ResultEmptyStatePartial" />
}
else
{

    <div class="container-fluid">
        <div class="col">
            <div class="row row-cols-auto g-2">
                <div class="col">
                    <a class="btn btn-outline-dark " data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Exportar a Excel Perfil" asp-controller="Report" asp-action="CalculateReport">
                        <i class="bi bi-file-spreadsheet-fill">
                            <p class="d-none d-md-block d-lg-inline"> Generar Reporte</p>
                        </i>
                    </a>

                </div>
                <div class="col">
                    <div class="row row-cols-auto g-2">
                        <div class="col">
                            <a class="btn btn-outline-dark disabled" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Exportar a Excel Perfil" asp-controller="Profile" asp-action="ExpExcel" disabled>
                                <i class="bi bi-file-earmark-excel-fill">

                                    <p class="d-none d-md-block d-lg-inline"> Exportar a Excel</p>
                                </i>
                            </a>

                        </div>
                        <div class="col">
                            <a class="btn btn-outline-dark disabled" data-bs-toggle="tooltip" data-bs-placement="top" role="button" title="Exportar a PDF" asp-controller="Profile" asp-action="ExpPDF" disabled>
                                <i class="bi bi-file-earmark-pdf-fill">

                                    <p class="d-none d-md-block d-lg-inline">Exportar a PDF</p>
                                </i>
                            </a>

                        </div>
                    </div>

                </div>
                <div class="table-responsive mt-1">
                    <table class="table table-bordered table-striped table-hover ">
                        <th>Acción</th>
                        <th>Código</th>
                        <th>Razón social</th>
                        <th>CUIT</th>
                        <th>Actividad</th>
                        <th>Categoria</th>
                        <th>IIBB Umos 12 meses</th>
                        <th>Compras Umos 12 meses</th>
                        <th>Control tope categoria</th>
                        <th>Control tope Régimen</th>
                        <th>Control Relacion compras/ventas</th>
                        <tbody>
                            @foreach (Result result in Model)
                            {
                                <tr>
                                    <td class="g-1">
                                        <a class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar perfil" asp-controller="Profile" asp-action="Editar" asp-route-Codigo="@result.Profile.Codigo">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </td>
                                    <td>@result.Profile.Codigo</td>
                                    <td>@result.Profile.RazonSocial</td>
                                    <td>@result.Profile.Cuit.Substring( 0, 2 )-@result.Profile.Cuit.Substring( 2, 8 )-@result.Profile.Cuit.Substring( 10, 1 )</td>
                                    <td>@result.Profile.Actividad.Descripcion</td>
                                    <td>@result.Profile.Categoria.Letra</td>
                                    <td>@result.Profile.Iibb.ToString( "C", new System.Globalization.CultureInfo ( "es-AR" ) )</td>
                                    <td>@result.Profile.Compras.ToString( "C", new System.Globalization.CultureInfo ( "es-AR" ) )</td>

                                    <td>@result.TopeCat</td>
                                    <td>@result.TopeReg</td>
                                    <td class=" fs-6">@result.RelComprasVentas</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
}


