@using MTControl.DAO
@{
    @model List<Image>;
}
<footer class="container-fluid py-3  mt-auto  d-lg-block ">
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-4">
        <div class=" col d-lg-inline-flex d-md-flex align-items-center gap-3">
            <img src="~/img/logo.svg" alt="Logo" class="img-fluid" style="height: 40px;" />
            <h2 class="h5 mb-0">Tech Para Contadores</h2>
        </div>
        @*Contacto para pantallas >= md*@
        <div class=" col d-flex align-items-center gap-3 flex-wrap justify-content-center text-center d-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex">
            <h2 class="h6 mb-0">Contacto:</h2>
            @foreach (Image image in Model)
            {
                <a href="@image.Url">
                    <img src="@image.Src" alt="@image.Alt" class="img-fluid" />
                </a>
            }
        </div>
        @*Contacto para pantallas < md*@
        <div class=" col d-flex align-items-center gap-3 flex-wrap justify-content-center text-center d-sm-flex d-flex d-md-none d-lg-none d-xl-none d-xxl-none">
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContacto" aria-expanded="false" aria-controls="collapseContacto">
                Contacto
            </button>
            <div class="collapse collapse-horizontal" id="collapseContacto">
                <div class="card card-body">
                    @foreach (Image image in Model)
                    {
                        <a href="@image.Url">
                            <img src="@image.Src" alt="@image.Alt" class="img-fluid" />
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="text-center pb-3">
        <h6 class="mb-0">© 2025 Reservados todos los derechos</h6>
    </div>
</footer>